section.slider {
    background-color: #E8AF27;
    margin: 0 auto;
    width: 100%;
    height: 50em;
    padding: 0;
    overflow: hidden;
}

section.slider img {
    width: 100%;
    height: auto;
}

.slider-content {
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input {
    display: none;
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img {
    width: 100%;
    height: auto;
}

.nav-manual, .nav-auto {
    position: absolute;
    width: 100%;
    margin-top: 39em;
    display: flex;
    justify-content: center; 
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #2E2A22;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: #2E2A22;
}

#radio1:checked ~ .nav-auto .auto-btn1{
    background-color: #2E2A22;

}
#radio2:checked ~ .nav-auto .auto-btn2{
    background-color: #2E2A22;

}
#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #2E2A22;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}